* {
    padding: 0;
    margin: 0;
}

:root {
    /*COLORS*/
    --primary: #000000;
    --button-color: #000000;
    --kami-red: #EB4E37;
    --yellow: #F6BF42;
    --inactive: #A6A6A6;
    --accent-green: #439980;
    --background-beige: #FFFAED;
}

h1 {
    font-size: 20px;
}

h2 {
    font-size: 16px;
}

p {
    font-size: 14px;
}

.all-caps {
    text-transform: uppercase;
}

/* Mobile wrapper */
.wrapper {
    margin-left: auto;
    margin-right: auto; 
    max-width: 80%;
    /* margin: 50px 20px; */
}


/* Alignment to center (not sure this is the right way but why not) */
.align-center {
    display: flex;
    justify-content: center;
}

/* For all CTA buttons */
.button {
    text-decoration: none;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: var(--button-color);
    padding: 12px 24px;
    margin-bottom: 50px;
    border-radius: 50px;
    color: #ffffff;

    position: fixed;
    bottom: 0;
}

/* For CTA buttons with full length */
.longbtn {
    width: 250px;
}

/* Edit and delete */

.edit-delete {
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
}

.header {
    display: flex;
    justify-content: space-between;
    flex-direction: row nowrap;
    margin: 20px 0;
}

.cart-order-item {
    display: flex;
}

.note {
    margin: 0 auto;
    width: 100%;
    padding: 5px 10px;
    margin-bottom: 20px;
    box-sizing: border-box;
}

.line {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
    margin: 1em 0;
    padding: 0;
}

.text-line {
    margin: 0 0 10px 0 ;
}